*,
*::after,
*::before {
  margin: 0px;
  padding: 0px;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem) translateY(-2rem);
  }
  80% {
    opacity: 0.8;
    transform: translateX(10px);
  }
  100% {
    opacity: 1;
    transform: translate(0px, 0px) translateY(0px);
  }
}
@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem) translateY(2rem);
  }
  80% {
    opacity: 0.8;
    transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0px) translateY(0px);
  }
}
@keyframes moveInBot {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: #787878;
  padding: 25px;
}

.heading-primary {
  color: white;
  text-transform: uppercase;
  backface-visibility: hidden;
}
.heading-primary .heading-primary--main {
  display: block;
  font-size: 6rem;
  font-weight: 400;
  letter-spacing: 3.5rem;
  text-align: center;
  animation: moveInLeft 1s ease-in-out;
  animation-fill-mode: forwards;
  backface-visibility: hidden;
}
.heading-primary--colored {
  color: #ffda33;
  transition: all;
  transition-duration: 0.3s;
  backface-visibility: hidden;
  padding: 15px 15px;
}
.heading-primary--colored:hover {
  filter: drop-shadow(0px 0px 10px #ffda33) drop-shadow(0px 0px 20px rgba(255, 218, 51, 0.678)) drop-shadow(0px 0px 26px rgba(255, 236, 153, 0.507));
  cursor: default;
  color: white;
}
.heading-primary--sub {
  display: block;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 1.1rem;
  animation: moveInRight 1s ease-in-out;
  margin-bottom: 5rem;
}

.heading-secondary {
  display: inline-block;
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.2rem;
  background-image: linear-gradient(to right, #0dbfb0, #0a8f84);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
  transition: all 0.3s;
}

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
}

.paragrapgh {
  font-size: 1.6rem;
}

.u-center-text {
  text-align: center;
}

.u-mb-big {
  margin-bottom: 8rem;
}

.u-mb-small {
  margin-bottom: 1.3rem;
}

.u-mb-medium {
  margin-bottom: 3rem;
}

.u-mt-medium {
  margin-top: 3rem;
}

.u-mt-big {
  margin-top: 8rem;
}

.u-mt-huge {
  margin-top: 11rem;
}

.u-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
}

.u-grid {
  width: 80%;
  margin: 0 auto;
  display: grid;
}

.u-grid-3 {
  width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.u-grid-4 {
  width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.u-width-half {
  width: 50%;
}

.u-gap-2 {
  gap: 2rem;
}

.u-gap-4 {
  gap: 4rem;
}

.u-gap-6 {
  gap: 6rem;
}

.u-container {
  width: 80%;
  margin: auto;
}

.header {
  position: relative;
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(160, 248, 241, 0.7), rgba(10, 143, 132, 0.7)), url(../assets/images/Hero11.jpg);
  background-size: cover;
  background-position: top;
  clip-path: polygon(0% 0%, 100% 0%, 100% 80%, 0% 100%);
}
.header__logo-box {
  position: absolute;
  top: 40px;
  left: 40px;
}
.header__logo {
  height: 55px;
}
.header__text-box {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.footer__grid {
  grid-template-columns: 1fr 1fr;
}

.footer {
  background-color: #333;
  padding: 5rem 0;
  font-size: 1.4rem;
}
.footer__logo-box {
  width: 15rem;
  margin: auto;
  margin-bottom: 6rem;
}
.footer__logo {
  width: 15rem;
  height: auto;
}
.footer__navigation {
  border-top: 0.1rem solid #787878;
  padding-top: 1rem;
}
.footer__list {
  list-style: none;
  display: flex;
  gap: 2rem;
}
.footer__link:link, .footer__link:visited {
  color: #787878;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.2s;
}
.footer__link:hover, .footer__link:active {
  color: #28f0df;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
}
.footer .footer_copyright {
  border-top: 0.1rem solid #787878;
  padding-top: 1rem;
}

.section-about {
  background-color: #f7f7f7;
  margin-top: -24rem;
  padding: 28rem 0 35rem 0rem;
}

.section-features {
  background-image: linear-gradient(to right bottom, rgba(160, 248, 241, 0.7), rgba(10, 143, 132, 0.7)), url(../../assets/images/Hero10.jpg);
  background-size: cover;
  background-position: center;
  clip-path: polygon(0 20%, 100% 0%, 100% 80%, 0 100%);
  margin-top: -24rem;
}

.section-tours {
  background-color: #f7f7f7;
  margin-top: -24rem;
  padding: 35rem 0 10rem 0rem;
}

.section-stories {
  position: relative;
  padding: 5rem 0;
}

.section-book {
  padding: 15rem 0;
  background-image: linear-gradient(to right bottom, #a0f8f1, #0a8f84);
}

.book {
  border-radius: 0.3rem;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.3);
  background-position: center;
  background-image: linear-gradient(105deg, rgba(239, 239, 239, 0.9) 0%, rgba(239, 239, 239, 0.9) 50%, transparent 50%), url("../../assets/images/Hero4.jpg");
  background-size: cover;
}
.book__form {
  width: 50%;
  padding: 6rem;
}

.btn {
  transition: all;
  transition-duration: 0.2s;
  border-radius: 10rem;
}
.btn, .btn:link, .btn:visited {
  text-decoration: none;
  text-transform: uppercase;
  padding: 1.5rem 4rem;
  display: inline-block;
  border: none;
  cursor: pointer;
}
.btn:hover, .btn:focus {
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
  outline: none;
}
.btn:active {
  transform: translateY(-0.1rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.4);
}
.btn--animated {
  animation: moveInBot 1s 0.75s ease-in-out backwards;
}
.btn--white {
  background-color: white;
  color: #787878;
}
.btn--green {
  background-color: #0dbfb0;
  color: white;
}

.btn-text {
  transition: all 0.2s;
}
.btn-text:link, .btn-text:visited {
  font-size: 1.6rem;
  color: #0a8f84;
  display: inline-block;
  text-decoration: none;
  border-bottom: 0.1rem solid #0a8f84;
  padding: 0.3rem;
}
.btn-text:hover {
  background-color: #0a8f84;
  color: white;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-0.2rem);
}
.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.25);
  transform: translateY(0rem);
}

.composition {
  position: relative;
}

.composition__photo {
  width: 55%;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
  border-radius: 0.7rem;
  position: absolute;
  transition: all 0.2s;
  z-index: 10;
}
.composition__photo--p1 {
  left: 0;
  top: -2rem;
}
.composition__photo--p2 {
  right: 0;
  top: 2rem;
}
.composition__photo--p3 {
  left: 20%;
  top: 10rem;
}
.composition__photo:hover {
  transform: scale(1.1) translateY(-1rem);
  box-shadow: 0 2.5rem 4.5rem rgba(0, 0, 0, 0.5), 0 -0.5rem 0rem #ffda33;
  z-index: 20;
}

.features {
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
@media (max-width: 900px) {
  .features {
    grid-template-columns: 1fr 1fr;
  }
}

.feature-box {
  margin: 26rem 0;
  background-color: rgba(255, 255, 255, 0.75);
  width: 100%;
  font-size: 1.5rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: 0.3rem;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  transition: transform 0.3s;
}
@media (max-width: 900px) {
  .feature-box {
    margin: 2rem 0;
  }
}
.feature-box:hover {
  transform: scale(1.02) translateY(-1rem);
}
.feature-box__icon {
  font-size: 6rem;
  margin-bottom: 1rem;
  background-image: linear-gradient(to right, #28f0df, #0a8f84);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.cards {
  grid-template-columns: 1fr 1fr 1fr;
}
@media (max-width: 900px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 54rem;
}
.card__side {
  height: 54rem;
  transition: all 0.8s ease;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border-radius: 0.3rem;
  overflow: hidden;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  backface-visibility: hidden;
}
.card__side--front {
  background-color: white;
}
.card__side--back {
  transform: rotateY(180deg);
}
.card__side--back-1 {
  background: linear-gradient(to right bottom, #fab433, #ae7304);
}
.card__side--back-2 {
  background: linear-gradient(to right bottom, #28f0df, #0a8f84);
}
.card__side--back-3 {
  background: linear-gradient(to right bottom, #6b68fd, #1409aa);
}
.card__side .card__picture {
  background-size: cover;
  background-position: center;
  height: 23rem;
  background-blend-mode: screen;
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
}
.card__side .card__picture--1 {
  background-image: linear-gradient(to right bottom, #fa9600, #d19410), url("../../assets/images/Hero6.jpg");
}
.card__side .card__picture--2 {
  background-image: linear-gradient(to right bottom, #28f0df, #0a8f84), url("../../assets/images/Hero5.jpg");
}
.card__side .card__picture--3 {
  background-image: linear-gradient(to right bottom, #6b68fd, #1409aa), url("../../assets/images/Hero2.jpg");
}
.card:hover .card__side--front {
  transform: rotateY(180deg);
}
.card:hover .card__side--back {
  transform: rotateY(360deg);
}
.card__heading {
  font-size: 2.8rem;
  font-weight: 400;
  text-transform: uppercase;
  position: absolute;
  text-align: right;
  top: 12rem;
  right: 2rem;
  color: white;
}
.card__heading-span {
  padding: 1rem 1.5rem;
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
}
.card__heading-span--1 {
  background-image: linear-gradient(to right bottom, rgba(250, 180, 51, 0.85), rgba(175, 115, 4, 0.85));
}
.card__heading-span--2 {
  background-image: linear-gradient(to right bottom, rgba(40, 240, 223, 0.85), rgba(10, 143, 132, 0.85));
}
.card__heading-span--3 {
  background-image: linear-gradient(to right bottom, rgba(107, 104, 253, 0.863), rgba(20, 9, 170, 0.863));
}
.card__details {
  padding: 2rem;
}
.card__details ul {
  list-style: none;
  width: 80%;
  margin: 0 auto;
}
.card__details ul li {
  text-align: center;
  font-size: 1.5rem;
  padding: 1rem;
}
.card__details ul li:not(:last-child) {
  border-bottom: 1px solid #eee;
}
.card__cta {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.card__price-box {
  color: white;
  text-align: center;
  margin-bottom: 8rem;
}
.card__price-only {
  font-size: 1.4rem;
  text-transform: uppercase;
}
.card__price-value {
  font-size: 6rem;
  font-weight: 200;
}

.story {
  width: 75%;
  margin: 0 auto;
  min-height: 21rem;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 0.3rem;
  padding: 3rem 2rem;
  padding-left: 9rem;
  font-size: 1.6rem;
  margin: 5rem auto;
  border-radius: 2rem;
}
.story__shape {
  width: 15rem;
  height: 15rem;
  float: left;
  clip-path: circle(50% at 50% 50%);
  shape-outside: circle(50% at 50% 50%);
  transform: translateX(-3rem);
  position: relative;
  backface-visibility: hidden;
}
.story__img {
  width: 100%;
  transform: scale(1.2);
  transition: all 0.5s;
  backface-visibility: hidden;
}
.story__text {
  color: rgba(0, 0, 0, 0.75);
}
.story__caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 100%);
  opacity: 0;
  color: white;
  text-transform: uppercase;
  font-size: 1.7rem;
  text-align: center;
  backface-visibility: hidden;
  transition: all 0.5s;
}
.story:hover .story__caption {
  opacity: 1;
  transform: translate(-50%, -50%);
}
.story:hover .story__img {
  transform: scale(1);
  filter: blur(0.3rem) brightness(80%);
}

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -10;
  opacity: 0.7;
}
.bg-video__content {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.form__radio-input:checked ~ .form__radio-label .form__radio-button::after {
  opacity: 1;
}
.form__input {
  transition: all 0.3s;
  font-size: 1.5rem;
  padding: 1.5rem 2rem;
  font-family: inherit;
  border-radius: 0.2rem;
  background-color: rgba(255, 255, 255, 0.8);
  border: none;
  border-bottom: 3px solid transparent;
  display: block;
  width: 90%;
  color: #3d3d3d;
}
.form__input::-webkit-input-placeholder {
  color: #787878;
}
.form__input:placeholder-shown ~ .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translate(1.2rem, 3.8rem);
}
.form__input:focus {
  outline: none;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
  border-bottom: 3px solid #28f0df;
}
.form__input:focus:invalid {
  border-bottom: 3px solid #ff5e00;
}
.form__label {
  transition: all 0.3s;
  font-size: 1.2rem;
  font-weight: 700;
  margin-left: 1rem;
  display: block;
  position: absolute;
  top: -2.5rem;
  left: 0;
}
.form__group {
  position: relative;
}
.form__group:not(:last-child) {
  margin-bottom: 5rem;
}
.form__group--flexed {
  display: flex;
  flex-direction: row;
}
.form__radio-group {
  width: 45%;
  display: inline-block;
}
.form__radio-label {
  font-size: 1.8rem;
  cursor: pointer;
  position: relative;
  padding-left: 3rem;
}
.form__radio-input {
  display: none;
}
.form__radio-button {
  height: 2rem;
  width: 2rem;
  border: 0.2rem solid #0a8f84;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  top: 0.1rem;
  left: 0;
}
.form__radio-button::after {
  transition: all 0.5s;
  content: "";
  height: 1rem;
  width: 1rem;
  border: 0.2rem solid #0a8f84;
  border-radius: 50%;
  background-color: #0a8f84;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
}

.popup {
  z-index: 10;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0%;
  left: 0%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}
.popup__content {
  width: 75%;
  background-color: white;
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.3);
  border-radius: 0.3rem;
  display: flex;
  gap: 6rem;
  padding: 2rem;
}
.popup__left {
  width: 40%;
}
.popup__right {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 3rem;
  border-radius: 0.5rem;
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.3);
}
.popup__image {
  width: 100%;
  display: block;
}
.popup__text {
  font-size: 1.6rem;
  column-count: 2;
  column-gap: 4rem;
  column-rule: 1px solid #eee;
  hyphens: auto;
}

/*# sourceMappingURL=style.css.map */
