*,
*::after,
*::before {
  margin: 0px;
  padding: 0px;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem) translateY(-2rem);
  }
  80% {
    opacity: 0.8;
    transform: translateX(10px);
  }
  100% {
    opacity: 1;
    transform: translate(0px, 0px) translateY(0px);
  }
}
@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem) translateY(2rem);
  }
  80% {
    opacity: 0.8;
    transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0px) translateY(0px);
  }
}
@keyframes moveInBot {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: #787878;
  padding: 25px;
}

.heading-primary {
  color: white;
  text-transform: uppercase;
  backface-visibility: hidden;
}
.heading-primary .heading-primary--main {
  display: block;
  font-size: 6rem;
  font-weight: 400;
  letter-spacing: 3.5rem;
  text-align: center;
  animation: moveInLeft 1s ease-in-out;
  animation-fill-mode: forwards;
  backface-visibility: hidden;
}
.heading-primary--colored {
  color: #ffda33;
  transition: all;
  transition-duration: 0.3s;
  backface-visibility: hidden;
  padding: 15px 15px;
}
.heading-primary--colored:hover {
  filter: drop-shadow(0px 0px 10px #ffda33) drop-shadow(0px 0px 20px rgba(255, 218, 51, 0.678)) drop-shadow(0px 0px 26px rgba(255, 236, 153, 0.507));
  cursor: default;
  color: white;
}
.heading-primary--sub {
  display: block;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 1.1rem;
  animation: moveInRight 1s ease-in-out;
  margin-bottom: 5rem;
}

.heading-secondary {
  display: inline-block;
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.2rem;
  background-image: linear-gradient(to right, #28f0df, #0a8f84);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
  transition: all 0.3s;
}

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
}

.paragrapgh {
  font-size: 1.6rem;
}

.u-center-text {
  text-align: center;
}

.u-mb-big {
  margin-bottom: 8rem;
}

.u-mb-small {
  margin-bottom: 1.3rem;
}

.u-mb-medium {
  margin-bottom: 3rem;
}

.u-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
}

.u-width-half {
  width: 50%;
}

.u-gap-2 {
  gap: 4rem;
}

.header {
  position: relative;
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(160, 248, 241, 0.7), rgba(10, 143, 132, 0.7)), url(../assets/images/Hero11.jpg);
  background-size: cover;
  background-position: top;
  clip-path: polygon(0% 0%, 100% 0%, 100% 75vh, 0% 100%);
}
.header__logo-box {
  position: absolute;
  top: 40px;
  left: 40px;
}
.header__logo {
  height: 55px;
}
.header__text-box {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.section-about {
  background-color: #f7f7f7;
  margin-top: -20vh;
  padding: 25rem 0;
}

.btn {
  transition: all;
  transition-duration: 0.2s;
  border-radius: 10rem;
}
.btn:link, .btn:visited {
  text-decoration: none;
  text-transform: uppercase;
  padding: 1.5rem 4rem;
  display: inline-block;
}
.btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
}
.btn:active {
  transform: translateY(-0.1rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.4);
}
.btn--animated {
  animation: moveInBot 1s 0.75s ease-in-out backwards;
}
.btn--white {
  background-color: white;
  color: #787878;
}

.btn-text {
  transition: all 0.2s;
}
.btn-text:link, .btn-text:visited {
  font-size: 1.6rem;
  color: #0a8f84;
  display: inline-block;
  text-decoration: none;
  border-bottom: 0.1rem solid #0a8f84;
  padding: 0.3rem;
}
.btn-text:hover {
  background-color: #0a8f84;
  color: white;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-0.2rem);
}
.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.25);
  transform: translateY(0rem);
}

.composition {
  position: relative;
}

.composition__photo {
  width: 55%;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
  border-radius: 0.7rem;
  position: absolute;
}
.composition__photo--p1 {
  left: 0;
  top: -2rem;
}
.composition__photo--p2 {
  right: 0;
  top: 2rem;
}
.composition__photo--p3 {
  left: 20%;
  top: 10rem;
}

/*# sourceMappingURL=style.css.map */
