$primary-color-light: hsl(175, 87%, 80%);
$primary-color-medium: hsl(175, 87%, 55%);
$primary-color-dark: hsl(175, 87%, 30%);
$secondary-color-medium: hsl(300, 100%, 25%);
$secondary-color-light: hsl(300, 100%, 50%);
$secondary-color-dark: hsl(300, 100%, 15%);

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: #777;
  padding: 25px;
}

.header {
  position: relative;
  height: 95vh;
  background-image: linear-gradient(
      to right bottom,
      rgba($primary-color-light, 0.7),
      rgba($primary-color-dark, 0.7)
    ),
    url(../assets/images/Hero11.jpg);
  background-size: cover;
  background-position: top;
  clip-path: polygon(0% 0%, 100% 0%, 100% 75vh, 0% 100%);
}

.logo-box {
  position: absolute;
  top: 40px;
  left: 40px;
}

.logo {
  height: 55px;
}

.text-box {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.heading-primary {
  color: white;
  text-transform: uppercase;
  backface-visibility: hidden;
}

.heading-primary-main {
  display: block;
  font-size: 6rem;
  font-weight: 400;
  letter-spacing: 3.5rem;
  text-align: center;
  animation: moveInLeft 1.2s ease-in-out;
  animation-fill-mode: forwards;
  .colored {
    color: $secondary-color-medium;
    transition: all;
    transition-duration: 0.3s;

    &:hover {
      filter: drop-shadow(0px 0px 10px $secondary-color-medium)
        drop-shadow(0px 0px 20px rgba($secondary-color-medium, 0.678))
        drop-shadow(0px 0px 30px rgba($secondary-color-medium, 0.507));
      cursor: pointer;
      color: hsl(175, 100%, 82%);
    }
  }
}

.heading-primary-sub {
  display: block;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 1.1rem;
  animation: moveInRight 1.2s ease-in-out;
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  80% {
    opacity: 0.8;
    transform: translateX(10px);
  }
  100% {
    opacity: 1;
    transform: translate(0px, 0px);
  }
}
@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  80% {
    opacity: 0.8;
    transform: translateX(-10px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
