@use '../abstracts/variables';

.section-about {
  background-color: variables.$color-grey-light-1;
  margin-top: -24rem;
  padding: 28rem 0 35rem 0rem;
  //   min-height: 30rem;
}

.section-features {
  background-image: linear-gradient(
      to right bottom,
      rgba(variables.$primary-color-light, 0.7),
      rgba(variables.$primary-color-dark, 0.7)
    ),
    url(../../assets/images/Hero10.jpg);
  background-size: cover;
  background-position: center;
  clip-path: polygon(0 20%, 100% 0%, 100% 80%, 0 100%);
  margin-top: -24rem;
}

.section-tours {
  background-color: variables.$color-grey-light-1;
  margin-top: -24rem;
  padding: 35rem 0 35rem 0rem;
}
