@use '../abstracts/variables';

.footer__container {
  display: flex;
  flex-direction: row;
  gap: 4rem;
  border: 1px solid red;
  width: 80%;
  margin: auto;
  flex-wrap: wrap;
}

.footer {
  background-color: #333;
  padding: 5rem 0;
  font-size: 1.4rem;

  &__logo-box {
    width: 7rem;
    margin: auto;
    margin-bottom: 6rem;
  }
  &__logo {
    width: 15rem;
    height: auto;
  }

  &__navigation {
    border-top: 0.1rem solid variables.$color-grey-dark;
    padding-top: 1rem;
    width: 50%;
  }

  &__list {
    list-style: none;
    display: flex;
    gap: 2rem;
  }

  &__item {
  }

  &__link {
    &:link,
    &:visited {
      color: variables.$color-grey-dark;
      text-decoration: none;
      text-transform: uppercase;
      transition: all 0.2s;
    }

    &:hover,
    &:active {
      color: variables.$primary-color-medium;
      box-shadow: 0 1rem 2rem rgba(rgb(0, 0, 0), 0.4);
    }
  }
  .footer_copyright {
    width: 50%;
    border-top: 0.1rem solid variables.$color-grey-dark;
    padding-top: 1rem;
  }
}
