@use '../abstracts/variables';
@use '../abstracts/mixins';

.header {
  position: relative;
  height: 95vh;
  background-image: linear-gradient(
      to right bottom,
      rgba(variables.$primary-color-light, 0.7),
      rgba(variables.$primary-color-dark, 0.7)
    ),
    url(../assets/images/Hero11-medium.webp);
  background-size: cover;
  background-position: top;
  clip-path: polygon(0% 0%, 100% 0%, 100% 80%, 0% 100%);
  @include mixins.respond(tab-land) {
    clip-path: polygon(0% 0%, 100% 0%, 100% 90%, 0% 100%);
  }
  @include mixins.respond(phone) {
    clip-path: polygon(0% 0%, 100% 0%, 100% 95%, 0% 100%);
  }

  &__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
}
