@use '../abstracts/mixins';
@use '../abstracts/variables';

.navigation {
  display: flex;
  justify-content: space-between;
  width: calc(100% - 4rem);
  align-items: center;
  margin: auto;
  position: absolute;
  top: 4.5rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 25;
  color: white;

  @include mixins.respond(tab-port) {
    top: 2rem;
    padding: 0;
    width: 100%;
  }

  &--sticky {
    position: fixed;
    background-color: rgba(255, 255, 255, 0.911);
    z-index: 25;
    top: 0;
    color: black;
    border: none;
  }

  &--sticky &__link:hover {
    color: variables.$primary-color-medium;
  }

  &--sticky .navigation__logo-box {
    padding: 1rem;
  }

  &--sticky .navigation__logo {
    height: 3rem;
  }
  &__list {
    display: flex;
    @include mixins.respond(phone) {
      list-style: none;
      // border: 1px solid red;
      position: absolute;
      height: 40vh;
      top: 50%;
      transform: translateY(-50%);
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding-left: 3rem;
    }

    &-item {
      list-style: none;
      padding: 0 3rem;
      @include mixins.respond(phone) {
        padding: 0 1rem;
      }
    }
  }

  &__link,
  &__link:visited,
  &__link:link {
    text-decoration: none;
    color: inherit;
    font-size: 2rem;
    transition: all 0.3s;
    @include mixins.respond(phone) {
      color: white;
      text-decoration: none;
      font-size: 3rem;
      position: relative;
      &:before {
        content: '';
        position: absolute;
        display: inline-block;
        top: 0;
        left: 0;
        z-index: 0;
        width: 0%;
        height: 100%;
        background-color: hsla(231, 100%, 86%, 0.212);
        opacity: 1;
        transition: all 0.2s;
      }

      &:hover {
        color: variables.$secondary-color-medium;
      }
      &:hover:before {
        width: 110%;
      }
    }
  }

  &__link:hover {
    color: variables.$secondary-color-medium;
  }
  @include mixins.respond(phone) {
    visibility: hidden;
    top: 0;
    left: 100%;
    position: fixed;
    width: 50vw;
    height: 100vh;
    z-index: 20;
    background-color: hsla(0, 0%, 10%, 0.9);
    opacity: 0;
    transition: all 0.3s;
  }

  &.shown {
    visibility: visible;
    opacity: 1;
    transform: translateX(-100%);
  }
}

.navigation__logo-box {
  margin-left: 3rem;
  @include mixins.respond(phone) {
    display: none;
  }
}

.navigation__logo {
  height: 5.5rem;
  @include mixins.respond(phone) {
    height: 4rem;
  }
}
