@use '../abstracts/variables';

.form {
  &__radio-input:checked ~ &__radio-label &__radio-button::after {
    opacity: 1;
  }

  &__input {
    transition: all 0.3s;
    font-size: 1.5rem;
    padding: 1.5rem 2rem;
    font-family: inherit;
    border-radius: 0.2rem;
    background-color: rgba(rgb(255, 255, 255), 0.8);
    border: none;
    border-bottom: 3px solid transparent;
    display: block;
    width: 90%;
    color: variables.$color-grey-dark-2;
    &::-webkit-input-placeholder {
      color: variables.$color-grey-dark;
    }
    &:placeholder-shown ~ .form__label {
      opacity: 0;
      visibility: hidden;
      transform: translate(1.2rem, 3.8rem);
    }
    &:focus {
      outline: none;
      box-shadow: 0 1rem 2rem rgba(black, 0.1);
      border-bottom: 3px solid variables.$primary-color-medium;
      &:invalid {
        border-bottom: 3px solid hsl(22, 100%, 50%);
      }
    }
  }

  &__label {
    transition: all 0.3s;
    font-size: 1.2rem;
    font-weight: 700;
    margin-left: 1rem;
    // margin-bottom: 0.4rem;
    display: block;
    position: absolute;
    top: -2.5rem;
    left: 0;
  }

  &__group {
    position: relative;
    &:not(:last-child) {
      margin-bottom: 5rem;
    }
  }

  &__group--flexed {
    display: flex;
    flex-direction: row;
  }

  &__radio-group {
    width: 45%;
    display: inline-block;
  }

  &__radio-label {
    font-size: 1.8rem;
    cursor: pointer;
    position: relative;
    padding-left: 3rem;
  }
  &__radio-input {
    display: none;
  }
  &__radio-button {
    height: 2rem;
    width: 2rem;
    border: 0.2rem solid variables.$primary-color-dark;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    top: 0.1rem;
    left: 0;

    &::after {
      transition: all 0.5s;
      content: '';
      height: 1rem;
      width: 1rem;
      border: 0.2rem solid variables.$primary-color-dark;
      border-radius: 50%;
      background-color: variables.$primary-color-dark;
      display: inline-block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      opacity: 0;
    }
  }
}
