@use '../abstracts/variables';
@use '../abstracts/mixins';

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: variables.$color-grey-dark;
}

.heading-primary {
  color: variables.$color-white;
  text-transform: uppercase;
  backface-visibility: hidden;

  .heading-primary--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    text-align: center;
    animation: moveInLeft 1s ease-in-out;
    animation-fill-mode: forwards;
    backface-visibility: hidden;
    @include mixins.respond(phone) {
      letter-spacing: 1rem;
      font-size: 5rem;
    }
  }

  &--colored {
    color: variables.$secondary-color-medium;
    transition: all;
    transition-duration: 0.3s;
    backface-visibility: hidden;
    padding: 15px 15px;
    &:hover {
      filter: drop-shadow(0px 0px 10px variables.$secondary-color-medium)
        drop-shadow(0px 0px 20px rgba(variables.$secondary-color-medium, 0.678))
        drop-shadow(0px 0px 26px rgba(variables.$secondary-color-light, 0.507));
      cursor: default;
      //   color: hsl(175, 100%, 82%);
      color: variables.$color-white;
    }
  }

  &--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.1rem;
    animation: moveInRight 1s ease-in-out;
    margin-bottom: 5rem;

    @include mixins.respond(phone) {
      letter-spacing: 0.5rem;
    }
  }
}

.heading-secondary {
  display: inline-block;
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.2rem;
  background-image: linear-gradient(
    to right,
    darken(variables.$primary-color-medium, 15%),
    variables.$primary-color-dark
  );
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
  transition: all 0.3s;
  @include mixins.respond(tab-port) {
    font-size: 3rem;
  }
  @include mixins.respond(phone) {
    font-size: 2.5rem;
  }
}

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
}

.paragrapgh {
  font-size: 1.6rem;
}
