.u-center-text {
  text-align: center;
}

.u-mb-big {
  margin-bottom: 8rem;
}
.u-mb-small {
  margin-bottom: 1.3rem;
}
.u-mb-medium {
  margin-bottom: 3rem;
}

.u-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
}

.u-width-half {
  width: 50%;
}

.u-gap-2 {
  gap: 4rem;
}
