$primary-color-light: hsl(175, 86%, 80%);
$primary-color-medium: hsl(175, 87%, 55%);
$primary-color-dark: hsl(175, 87%, 30%);

// $secondary-color-medium: hsl(320, 100%, 50%);
// $secondary-color-medium: hsl(350, 100%, 70%);
$secondary-color-medium: hsl(49, 100%, 60%);
$secondary-color-light: hsl(49, 100%, 80%);
$secondary-color-dark: hsl(49, 100%, 40%);

$color-white: hsl(0, 0%, 100%);
$color-grey-dark: hsl(0, 0%, 47%);
$color-grey-dark-2: rgb(61, 61, 61);
$color-grey-light-1: hsl(0, 0%, 97%);
$color-grey-light-2: #eee;
